body {
  background-color: burlywood;
}
p {
  margin: 25px 50px;
  text-indent: 50px;
  text-align: justify;

}
.icon-bar {
  width: 100%;
  background-color: #473504;
  overflow: auto;
  margin-bottom: 20px;
}

.icon-bar a {
  float: left; 
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s ease;
  width: 10%;
  color: white; 
}

.icon-bar a:hover {
  background-color: #000; 
}

.active {
  background-color: #A58D77;
}